.myCalendar{
  color: #666;
  font-size: 16px;
  cursor: default;
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
  background-color: #fff;
}
.calendarHeader{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: #fff;
  background-color:#6dcff6 
}
.calendarHeader .calendar-set-ym{
  flex: 1
}
.calendarHeader .calendar-set-ym span{
  margin-right: 10px;
  cursor: pointer;
}
.calendarHeader i{
  width: 30px;
  cursor: pointer;
  font-style: initial
}
.calendarMain{
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}
.calendarDateTable{
  border-collapse: collapse;
  border-spacing: 0;
}
.calendarDateTable th{
  line-height: 30px;
  font-weight: 400;
}
.calendarDateTable td{
  width: 36px;
  height: 30px;
  cursor: pointer;
  text-align: center
}
.calendarDateTable td:hover{
  background-color: #eee
}
.calendarDateTable td.activeDate{
  color: #fff;
  background-color: #6dcff6

}
.calendarDateTable td.prevDate,.calendarDateTable td.nextDate{
  color: rgba(0, 0, 0, 0.4);
}
.calendarFooter{
  text-align: right;
  padding: 13px 10px 10px;
  border-top: 1px solid #e2e2e2;
}
.calendarFooter span{
  margin: 0 0 0 -1px;
  padding: 2px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #C9C9C9;
  background-color: #fff;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 2px;
}
.calendarFooter span:hover{
  color: #6dcff6
}